/* Genel Ayarlar */
* {
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Bağlantılar ve Navbar */
nav {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: rgb(198, 25, 192);
}

li {
  display: inline-block;
  color: white;
}

/* Başlık ve Form Stilleri */
h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 100px;
  margin-left: 10px;
}

.kayit_li {
  display: block;
  margin-bottom: 10px;
  margin: 10px;
  padding: 5px;
}

.kayit_li input[type="email"],
.kayit_li input[type="text"],
.kayit_li input[type="password"] {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid rgb(198, 25, 192);
  border-radius: 10px;
  color: white;
  background-color: black;
}

.kayit_li input::placeholder {
  color: rgb(112, 112, 136);
}

.button_li {
  width: 200px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: rgb(198, 25, 192);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 0px;
  padding: 5px;
}

.kayit_ul {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}

.div_baslik1, .div_baslik2 {
  margin: 0px;
  padding: 25px;
}

h4 {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
}

.container {
  height: 100px;
  width: 100px;
  padding: 15px;
}

.logo {
  height: 45px;
  width: 120px;
}

button {
  border: none;
  background-color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
}

.kayit_button {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: white;
  font-size: larger;
  border-radius: 50px;
}

/* Navbar Stilleri */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  background: black;
  z-index: 1000;
}

.navImg {
  height: auto;
  width: 200px;
}

.navButton {
  color: white;
  text-decoration: none;
  font-size: larger;
  margin-right: 10px;
}

.navButton2 {
  color: rgb(0, 0, 0);
  text-decoration: none;
  background-color: white;
  font-size: larger;
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 10px;
}

.logo-container {
  margin-right: auto;
}

/* Medya Sorguları */
@media (max-width: 768px) {
  .navImg {
      width: 100px;
      margin-top: 0;
  }
  .navButton,
  .navButton2 {
      font-size: small;
      padding: 5px 10px;
      margin-right: 5px;
  }
  .navbar {
      padding: 5px 0;
  }
  nav ul li {
      margin-left: 5px;
  }
}

/* Bilgilendirme Alanı */
.bilgilendirme {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color: #fff;
  padding: 3px;
  text-align: right;
}

.genel {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 5px;
}

.genel p {
  color: #CB6CE6;
  font-size: 1vw;
}

.sozlesmeler {
  display: inline-block;
  margin-right: 4%;
  margin-left: 4%;
}

.sozlesmeler p {
  color: #CB6CE6;
  font-size: 1vw;
}

.c {
  position: absolute;
  bottom: 30px;
  left: 2%;
}

.c p {
  margin-bottom: 5px;
  font-size: 1.5vw;
  color: #CB6CE6;
  text-align: left;
}
